body {
  font-size: 16px;
  color: #fff;
  background-color: gray;
}

/** HEADER **/
#header-nav {
  background-color: #F9D326;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 10px;
}

.navbar-brand h1 {
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list a {
	text-align: center;
  font-size: 1.2em;
  border-bottom: 1px solid #e7e7e7;
}


/* Home Page */
.container h1 {
  margin-bottom: 20px;
}

.item-tile {
  border: 2px solid #F9D326;
  margin: 5px 20px 5px 20px;
}

.item-detail {
  padding: 5px 20px 5px 20px;
}